{% extends "main_app/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
            <div class="panel-heading">
                <h3 class="panel-title">ログイン</h3>
            </div>
            <div class="panel-body">
                <form class="my-form" action="{% url 'main_app:login' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>

                    <div class="form-group">
                        {{ form.password }}
                        {{ form.password.errors }}
                    </div>

                    <input type="submit" class="btn btn-success btn-lg btn-block" value="ログイン">
                    <input type="hidden" name="next" value={{ request.username }}/>
                </form>
                <div align="right" style="margin-top:20px;">
                    <a href="password_reset">パスワードを忘れた方はこちら</a>
                    <img src="{% static 'img/angle-right.svg' %}" width="24" height="24" align="right">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}