{% extends "main_app/base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">パスワードリセット</h3>
                <div class="panel-body">
                    <p>アカウント登録したメールアドレスを記載して下さい</p>
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {% include 'main_app/loaded_form.html' %}
                        <button type="submit" class="btn btn-success btn-lg btn-block">パスワードをリセットするメールを送信</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}