{% extends "main_app/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
            <div class="panel-heading">
                <h3 class="panel-title">
                    <p>パスワードリセットメールを送信しました</p>
                    <p>内容をご確認下さい</p>
                </h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}